* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    height:  620px;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 3rem;

}

.logo {
    width: 180px;
}

.logo img{
    width: 100%;
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: #f8e137;
    margin-right: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.btn {
    background: #f8e137;
    color: #3c3b3a;
    padding: 10px 25px;
    border-radius: 25px;
    border: 0;
    outline: 0;
    font-weight: 700;
    width: 155px;
    text-align: center;
}

.hero-section {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0 3rem;
}

.hero-section .lef, .hero-section .right {
    width: 50%;
}

.left {
    width: 50%;
}



.lef h1 {
    font-size: 45px;
    
}

.left h1 span {
    color: #000;
    background: #f8e137;
    padding: 2px 7px;
   }

.left p {
    font-size: 14px;
    color: #777;
    padding: 20px 0;
}

.right img {
    width: 100%;
}

section {
    display: flex;
    background: #ede9e9;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
       

}

section .slider-um {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 150px;
    border:1px solid #e70b0b;
    padding: 40px;
    margin: 30px;

}

section .slider-dois {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 150px;
    border:1px solid #e70b0b;
    padding: 40px;
    margin: 30px;
    
}

section .slider-tres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 150px;
    border:1px solid #e70b0b;
    padding: 40px;
    margin: 30px;
}